:root {
  --white: #ffffff;
  --grey: #f4f4f4;
  --black: #000000;
  --bg-color1: #ce2e8e;
  --bg-color2: #088932;
  --bg-color3: #008BF6;
  --bg-hover-color1: #ff4fb9;
  --bg-hover-color2: #03d047;
  --bg-hover-color3: #52CAFF;
  --box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.5);

}
/* body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--grey);
} */


.picsElements img {
  border: 4px solid var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  margin: 10px;

  width: 130px;
  height: auto;
  transition: width 0.3s ease, height 0.5s ease;
}

.picsElements img:hover {
  width: 160px;
  height: auto;
}
p {
  text-align: center;
  margin: 25px 30px 50px 30px;
}

.btn-container{
  display: flex;
  justify-content: space-around;
  margin: 20px;

}


.bg-color1 {
  padding: 5px 5px;
  width: 30%;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--bg-color1);
}

.bg-color1:hover {
  background-color: var(--bg-hover-color1);
}

.bg-color2 {
  padding: 5px 5px;
  width: 30%;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--bg-color2);
}
.bg-color2:hover {
  background-color: var(--bg-hover-color2);
}


.bg-color3 {
  padding: 5px 5px;
  width: 30%;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--bg-color3);
}

.bg-color3:hover {
  background-color: var(--bg-hover-color3);
}

